html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    flex: auto;
    min-height: 5vh;
    justify-content: space-around;
    align-items: center;
    background-color: blueviolet;
    color: goldenrod;
}

.torso {
    display: flex;
    flex: auto;
    height: 1500px;
    flex-direction: column;
    background-color: whitesmoke;
}

.footer {
    display: flex;
    flex: auto;
    min-height: 8vh;
    justify-content: center;
    align-items:center;
    background-color: blueviolet;
    color: wheat;
}

img {max-width:100%;}

.section-one {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    max-height: 300px;
    background-color: blueviolet;
    color: wheat;
    gap: 250px;
}

.section-two {
    display: flex;
    flex: auto;
    background-color: whitesmoke;
    flex-wrap: wrap;
}

.section-three {
    display: flex;
    flex: auto;
    justify-content: center;
    align-content: center;
    background-color: slategray;
    color: thistle;
    padding: 10px 400px 10px 400px;
}

.section-four {
    display: flex;
    flex: auto;
    justify-content: space-around;
    align-content: center;
    background-color: steelblue;
    width: 70%;
    margin: 100px 300px 100px 300px;
}

.LINKS {
    display: flex;
    gap: 50px;
    align-items: center;
}

.s1i1 {
    
}

.s1i2 {
    height: 300px;
    width: 450px;
}

.s2i1 {
    height: 70px;
    width: 100%;
    border: green dashed;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.s2i2 {
    height: 200px;
    width: 200px;
    border: green dashed;
}

.s2-blocks {
    display: flex;
    flex: auto;
    justify-content: center;
    gap: 80px;
}

.s3i1 {
    max-height: 100px;
}

.s4i1 {
    color: goldenrod;
}

.s4i2 {
    display: flex;
    justify-self: flex-end;
    align-items: center;
}

.s4-bg {

}